.div1 {
    flex: auto;
    width: 2000px;
    height: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.div2 {
    flex: auto;
    width: 2000px;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
}

.div3 {
    width: 100%;
    height: 10%;
    display: flex;
    position: relative;
    align-self: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-evenly;
    margin-right: 5%;
}

.div4 {
    width: 1000px;
    margin-right: 5%;
    margin-left: 5%;
}
.div5{
    font-size: 20px;
    text-align: left;
    vertical-align: center;
    padding: 15px;
    background-color: #04AA6D;
}
.column{
    width: 500px;
}