.container {
  flex: auto;
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: black;
}
.container-FP {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.container1-FP {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-color: #7a4214;
}
.container2-FP {
  flex: 0 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-image: url("C:\Users\malinij\OneDrive - MILLENNIUM I.T.E.S.P (PRIVATE) LIMITED\Documents\GitHub\basilurTea\frontend\public\BasilurFirstPage.webp");
  background-repeat: no-repeat;
  position: relative;
}
 .container2-FP::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, #7a4214 100%);
  opacity: 1; /* Adjust the opacity value as needed */
 }
.container3-FP {
  gap: 15%;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 20%;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.button-FP {
  display: flex;
  width: 30%;
  height:50%;
  justify-content: center !important; 
  align-items: center !important;
  background-color: white;
  cursor: pointer;
  border-radius:10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 25px;
  font-weight: 700;
  color: #532d0f ;

  text-decoration: none;
}

.container-LOGIN {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}
.container1-LOGIN {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;

}
.container2-LOGIN{
  flex: 1;
  width: 60%;
  height: 100vh;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  background-size: cover;
  background-image: url("C:\Users\malinij\OneDrive - MILLENNIUM I.T.E.S.P (PRIVATE) LIMITED\Documents\GitHub\basilurTea\frontend\public\BasilurBanner.webp");
  background-repeat: no-repeat;
}
.container3-LOGIN {
  flex: 0 0 auto;
  width: 40%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container4-LOGIN{
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.text-LOGIN{
  font-size:30px;
  align-self: center;
  font-style: normal;
  font-weight: 900;
  color: WHITE;
}
.container7-LOGIN{
  width: 80%;
  height: 50%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color:#4A5670;
  padding-top: 2%;
  margin-top: 30%;
  margin-bottom: 30%;
  border-radius:5%

}
.form-LOGIN{
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5%;
}
.savebutton-LOGIN {
  width: 40%;
  height: 15%;
  background-color: black;
  color: white;
  font-size: 20px;
  padding-top: 1%;
  justify-content: center;
  cursor: pointer;
}
.savebutton-LOGIN:focus{
  cursor: pointer;
  background-color: #5b6c92;
}
.container8-LOGIN{
  flex: auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.textinput-LOGIN{
  width: 80%;
  height: 25%;
  padding: 1%;
  border: 5px solid #252b39;
  border-radius: 5px;
  background-color: #fff;
  font-size: 15px;
  color: #333;
  margin-left: 10%;
  margin-right: 10%;
}
.textinput-LOGIN:focus{
  outline: none;
  box-shadow: 0 0 5px #aaa;
}
.container1 {
  flex: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: black;
}
.container2 {
  width: 100%;
  height: 20%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: center;
}
.container21 {
  width: 100%;
  height: 20%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 1%;
  justify-content: center;
}

.text {
  font-size: 50px;
  align-self: center;
  font-style: normal;
  font-weight: 900;
  color: white;
}

.container3 {
  gap: 0;
  flex: auto;
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center;
  padding-top: 1%;
  flex-direction: column;
  padding-bottom: 10%;
  justify-content: center;
  align-self: center;
}
.container4 {
  gap: 0;
  flex: auto;
  width: 70%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.form {
  width: 100%;
  height: 100%;
  gap: 0;
  flex: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
  padding-top: 3%;
  padding-bottom: 3%;
}
.container5 {
  flex: auto;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.container5-2 {
  flex: auto;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.container51 {
  flex: auto;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2%;
  padding-right: 10%;
}
.text1 {
  width: auto;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  margin-top: 0%;
  font-weight: 900;
  line-height: 1.15;
  margin-left: 10%;
  margin-bottom: 0%;
}
.text0 {
  width: auto;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  margin-top: 0%;
  font-weight: 800;
  line-height: 1.15;
  margin-left: 9%;
  margin-bottom: 0%;
}
.textview {
  width: auto;
  font-size: 15px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;
  margin-left: 5%;
  margin-bottom: 0%;
}
.textviewo {
  width: auto;
  font-size: 2015 center;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;
  margin-left: 1%;
  margin-right: 1%;
}
.textinput {
  width: 50%;
  line-height: 2;
  margin-left: 5%;
  margin-right: 10%;
}
.textinputco {
  width: 50%;
  margin-left: 5%;
  margin-right: 10%;
  font-size: 15px;
  color: black;
}
.text2 {
  width: auto;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  margin-top: 0%;
  font-weight: 900;
  line-height: 1.15;
  margin-left: 10%;
  margin-bottom: 0%;
}
.textinput1 {
  width: 50%;
  line-height: 2;
  margin-left: 5%;
  margin-right: 10%;
}
.textinput3 {
  width: 50%;
  line-height: 2.4;
  margin-left: 5%;
  margin-right: 9%;
  border: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  min-height: 38px;
  padding-left: 10px;
}
.textinputview1 {
  width: 55%;
  line-height: 2;
  margin-left: 5%;
  margin-right: 5%;
  border: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  min-height: 30px;
  padding-left: 10px;
}
.textinputview0 {
  width: 65%;
  line-height: 2;
  margin-left: 5%;
  margin-right: 5%;
  border: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  min-height: 30px;
  padding-left: 10px;
}
.textinputviewl {
  width: 20%;
  line-height: 2;
  margin-left: 1%;
  border: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  min-height: 30px;
  padding-left: 10px;
}
.textinputviewr {
  width: 20%;
  line-height: 2;
  margin-right: 1%;
  margin-right: 5%;
  border: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  padding-left: 10px;
}
.textinputview {
  width: 35%;
  line-height: 2;
  margin-left: 5%;
  margin-right: 5%;
  border: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  min-height: 3px;
  padding-left: 10px;
}
.text3 {
  width: auto;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  margin-top: 0%;
  font-weight: 900;
  line-height: 1.15;
  margin-left: 10%;
  margin-bottom: 0%;
}
.textinput2 {
  width: 50%;
  line-height: 2;
  margin-left: 5%;
  margin-right: 10%;
}
.savebutton {
  width: 40%;
  height: 10%;
  background-color: black;
  color: white;
  font-size: 30px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  justify-content: center;
  cursor: pointer;
}
.button {
 width: 40%;
  height: 10%;
  background-color: black;
  color: white;
  font-size: 30px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  justify-content: center;
}
.buttonl {
  width: 30%;
  background-color: black;
  color: white;
  font-size: 20px;
  text-decoration: none;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}
.buttonm {
  width: 30%;
  height: auto;
  background-color: RED;
  color: white;
  font-size: 10px;
  justify-content: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard {
  width: 30%;
  height: 10%;
  color: black;
  font-size: 10px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.dropdown {
  width: 50%;
  margin-left: 5%;
  margin-right: 9%;
  font-size: 15px;
  color: black;
}
.container6 {
  flex: auto;
  width: 80%;
  display: flex;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: row;
  justify-content: space-between;
}
.container6r {
  padding-right: 0.2%;
}
.container6l {
  padding-left: 3%;
}
.buttondiv {
  width: 90%;
  display: flex;
  padding-top: 1%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height:10%;
}
.buttondiv1 {
  flex: auto;
  width: 90%;
  display: flex;
  padding-top: 1%;
  flex-direction: row;
  justify-content: center;
}
.homebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  background-color: black;
  color: white;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.homebutton:hover {
  background-color: rgb(105, 105, 105);
  font-size: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.containerhome {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 5%;
  margin-bottom: 5%;
}
.buttonmm{
  width: 100%;
  height: 100%;
  color: white;
  background-color: RED;
}
.adiv{
  color: black;
  padding-bottom: 1%;
  margin-bottom:1% ;
}
.containertable {
  width: auto;
  height: 350px;
  background-color: #D9D9D9;
  padding-left: 3%;
  margin-left: 1%;
  padding-right: 3%;
  margin-right: 1%;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-bottom: 1%;
  
  white-space: nowrap;
}
.containersubtable{
  overflow-x: auto; 
  border: 1px solid black;
}
.container3table {
  flex: auto;
  width:96%;
  height: 80%;
  align-items: center;
  padding-top: 1%;
  flex-direction: column;
  padding-bottom: 10%;
  justify-content: center;
  align-self: center;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  overflow-x: auto; 
}
.thdiv{
  width:200px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: large;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  overflow-x: auto; 
}
.row{
  width:200px;
  text-align: center;
  font-size: medium;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  background-color: WHITE;
}
.tablediv{
  width:max-content;
  border-collapse: collapse;
}
.tablediv th{
  border: 1px solid white;
}
.tablediv td {
  border: 1px solid black;
}
.savebuttonvac{
  width: fit-content;
  height: auto;
  background-color: #D9D9D9;
  color: black;
  font-size: 15px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(126, 126, 126);
  font-weight: 650;
  text-decoration: none;
}
.savebuttonvac:hover {
  background-color:  rgb(105, 105, 105);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.buttondiv1vac{
  width: 100%;
  display:flex;
  padding-top: 1%;
  padding-bottom: 1%;
  flex-direction: row;
  justify-content:space-evenly;
}
.navigation-button {
  background-color: black;
  color: white;
  margin-left: 1px;
  margin-right: 1px;
}
.navigation-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.navigation-button.active {
  background-color: gray;
  cursor: not-allowed;
}
.container52{
  width: 100%;
  height: 20%;
  display: flex;
  align-self: center;
  justify-content:center;
  padding-top: 5%;
  padding-bottom: 3%;
}
.container53{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navigationdiv{
  display: flex;
}
.containerform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-group {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
}
.form-control {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  min-height: 25px;
}
.button-container {
  text-align: center;
}
.generate-buttonpdf {
  padding: 10px 20px;
  background-color: rgb(194, 4, 4);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.generate-buttonpdf:hover {
  background-color: rgb(255, 0, 0);
}
.generate-buttonpdf:focus {
  outline: none;
}
.generate-buttonexcel {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.generate-buttonexcel:hover {
  background-color: rgb(3, 216, 3);
}
.generate-buttonexcel:focus {
  outline: none;
}
.dropdownpdf{
  width: 150px;
  font-family: monospace;
  cursor: default;
  align-items: center;
}
.container42 {
  gap: 0;
  flex: auto;
  width: 1000px;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
  padding-bottom: 3%;
}
.Labelform{
  font-size: 15px;
  font-weight: 700;
}
.container31 {
  flex: auto;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 1%;
  flex-direction: column;
  padding-bottom: 5%;
  justify-content: space-between;
  align-self: center;
}
.container41 {
  gap: 0;
  flex: auto;
  width: 90%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
  padding-bottom: 2%;
}
.container3-Dashboard {
  flex: auto;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 1%;
  flex-direction: column;
  padding-bottom: 5%;
  justify-content: space-between;
  align-self: center;
}
.container4-Dashboard {
  gap: 0;
  flex: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
  padding-bottom: 2%;
}